html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow: hidden;
  overflow-y: auto;
}

Link,a {
  text-decoration: none;
}

.pages {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: radial-gradient(at top left, #5b0718, #1e0122,#010131);
  overflow: hidden;
}

.formTwoMemberWrapper {
  margin-left: 15%;
  border: 3px solid wheat;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  width: 70%;
  margin-bottom: 1rem;
}

.formTwoMemberContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.formTwoMemberBox {
  
  border: 2px solid rgb(157, 151, 139);
  border-radius: 15px;
  font-family: Poppins;
  font-size: 1rem;
  color: rgb(157, 151, 139);
  width: 200px; /* Adjust as needed */
  margin: 10px;
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
}

.formTwoMemberBox:hover {
  border: 2px solid white;
  color: white;
}

.formTwoNotSelected {
  border: 3px solid wheat;
  border-radius: 20px;
  font-family: Poppins;
  font-size: 1rem;
  color: rgb(157, 151, 139);
  padding: 1rem 0rem 1rem 0rem;
  text-align: center;
  margin-left: 15%;
  width: 70%;
  margin-bottom: 1rem;
}

.FormTwoSubmit {
  border: 3px solid rgb(70, 66, 113);
  border-radius: 20px;
  font-family: Poppins;
  font-size: 1.3rem;
  font-weight: 900;
  color: rgb(70, 66, 113);
  padding: 0.7rem 0rem 0.7rem 0rem;
  text-align: center;
  margin-left: 15%;
  width: 70%;
  margin-bottom: 1rem;
}

.FormTwoSubmit:hover {
  background-color: rgb(224, 57, 57);
  color: wheat;
}

/* Valid */

.questionPageNav {
  display: flex;
  align-items: center;
  position: relative;
}

.questionPageNav .questionPageNavWrapper{
  display: flex;
  align-items: center;
  color: whitesmoke;
  font-family: Poppins;
  font-size: 1rem;
  position: relative;
  width: 100%;
}

.questionPageNav .questionPageNavWrapper .questionPageNavPoints {
  position: absolute;
  right: 13rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  border: 2px solid yellowgreen;
  padding: 0.5rem 0.9rem 0.5rem 0.9rem;
  border-radius: 10px;
}

.questionPageNav .questionPageNavWrapper .questionPageNavPoints img {
  width: 2rem;
  margin-left: 0.5rem;
}

.questionPageNav .questionPageNavWrapper .questionPageNavTeam {
  position: absolute;
  right: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 15%;
}

#teamTeam {
  font-size: 1.2rem;
}

#teamName {
  font-size: 1.2rem;
  overflow: hidden; /* Prevent text overflow */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis;
  width: 50%;
  color: grey;
}

.questionPageNav .questionPageNavWrapper .questionPageNavComp {
  margin-left: 2rem;
  cursor: pointer;
}

.questionPageNav .questionPageNavWrapper .questionPageNavComp a {
  color: white;
}

.questionPageNav .questionPageNavWrapper .questionPageNavComp :hover {
  color: burlywood;
}

.questionPageNav .questionPageNavWrapper .questionPageNavComp a:hover {
  color: burlywood;
}

.questionPageEasy,.questionPageMedium,.questionPageHard {
  color: whitesmoke;
  font-family: Poppins;
  font-size: 1rem;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 4rem;
}

.questionPageEasy h1,.questionPageMedium h1,.questionPageHard h1 {
  margin-bottom: 1.5rem;
}

.questionPageHard {
  margin-bottom: 6rem;
}

.easySec1,.easySec2,.mediumSec1,.mediumSec2,.mediumSec3,.hardSec1,.hardSec2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Valid */

.signUpNavContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signUpNavContainer .signUpNav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signUpNavContainer .signUpNav div {
  margin-left: 3rem;
  font-family: Poppins;
  font-size: 1rem;
}

.signUpNavContainer .signUpNav div a {
  color: whitesmoke;
}

.signUpNavContainer .signUpNav div a:hover {
  color: burlywood;
  cursor: pointer;
}


.signUpLoginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 5rem;
  border-radius: 15px;
  mix-blend-mode: screen;
}

.signUpLoginContainer .signUpLoginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  width: 50%;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.signUpLoginContainer div h1 {
  font-family: SDRobot;
  color: whitesmoke;
  font-size: 3rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.signUpLoginContainer div input {
  outline: none;
  font-family: Poppins;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: none;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.signUpLoginContainer div:last-child {
  margin-bottom: 3rem;
}

.sponserContainer{
  margin-left: 12rem;
  margin-right: 16em;
  display: flex;
  flex-direction: row;
  height: 10rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  justify-content: space-between;
}

.sponserContainer div {
  width: 10rem;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.homeContainer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeHeading {
  font-family: SDRobot;
  font-size: 10rem;
  margin-top: 3rem;
}

.homeDate {
  font-family: Moonstrike;
  font-size: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.homeEvent {
  font-family: Speedy;
  font-size: 2rem;
  color: rgb(85, 133, 133);
}

.homeFooter {
  color: white;
  position: absolute;
  left: 42%;
  bottom: 1rem;
}

.rulesContainer,.ieeeContainer {
  color: darkcyan;
  margin-top: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

.rulesContainer .rulesHeading ,.ieeeContainer .ieeeHeading{
  font-family: SDRobot;
  font-size: 7rem;
  width: 87%;
  margin-bottom: 3rem;
}

.rulesContainer .ruleswrapper,.ieeeContainer .ieeewrapper {
  font-family: Poppins;
  font-size: 1.1rem;
  width: 80%;
  color: rgb(44, 229, 229); 
}

.ieeeContainer .ieeewrapper ol div {
  color: beige;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.ieeeContainer .ieeewrapper ol li {
  color: rgb(18, 181, 181);
  font-style: italic;
}


@media screen and (max-width: 1300px) {
  .rulesContainer .ruleswrapper,.ieeeContainer .ieeewrapper {
    width: 90%;
  }
}

@media screen and (max-width: 1100px) {
  .questionPageNav .questionPageNavWrapper .questionPageNavTeam {
    right: 2rem;
  }

  .questionPageNav .questionPageNavWrapper .questionPageNavPoints {
    right: 9rem;
    font-size: 1.1rem;
  }

  .questionPageNav .questionPageNavWrapper {
    font-size: 1.1rem;
  }

  .questionPageEasy,.questionPageMedium,.questionPageHard {
    color: whitesmoke;
    font-family: Poppins;
    font-size: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 4rem;
  }

  .signUpLoginContainer {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .signUpLoginContainer div h1 {
    font-size: 2rem;
  }

  .sponserContainer{
    height: 6rem;
    margin-left: 9rem;
    margin-right: 9rem;
  }

  .sponserContainer div {
    width: 7rem;
  }

  .homeContainer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .homeHeading {
    font-family: SDRobot;
    font-size: 8rem;
    margin-top: 7rem;
  }
  
  .homeDate {
    font-family: Moonstrike;
    font-size: 3.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
  }
  
  .homeEvent {
    font-family: Speedy;
    font-size: 1.4rem;
    color: rgb(85, 133, 133);
  }
  
  .homeFooter {
    color: white;
    position: absolute;
    left: 35%;
    bottom: 1rem;
  }
  .rulesContainer .ruleswrapper,.ieeeContainer .ieeewrapper {
    width: 95%;
  }

  .rulesContainer,.ieeeContainer {
    color: darkcyan;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 5rem;
  }
  
  .rulesContainer .rulesHeading ,.ieeeContainer .ieeeHeading{
    font-family: SDRobot;
    font-size: 5rem;
    width: 87%;
    margin-bottom: 3rem;
  }
  
  .rulesContainer .ruleswrapper,.ieeeContainer .ieeewrapper {
    font-family: Poppins;
    font-size: 1.1rem;
    width: 90%;
    color: rgb(44, 229, 229); 
  }
  
  .ieeeContainer .ieeewrapper ol div {
    color: beige;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .ieeeContainer .ieeewrapper ol li {
    color: rgb(18, 181, 181);
    font-style: italic;
  }
}

@media screen and (max-width: 550px) {

  .questionPageEasy,.questionPageMedium,.questionPageHard {
    color: whitesmoke;
    font-family: Poppins;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 4rem;
  }
  
  .questionPageHard {
    margin-bottom: 6rem;
  }
  
  .easySec1,.easySec2,.mediumSec1,.mediumSec2,.mediumSec3,.hardSec1,.hardSec2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .questionPageNav .questionPageNavWrapper{
    display: none; 
  }

  .signUpLoginContainer {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .signUpLoginContainer .signUpLoginWrapper {
    width: 90%;
  }

  .sponserContainer {
    margin-left: 9rem;
    margin-right: 8rem;
    flex-direction: column;
    height: 85rem;
  }

  .sponserContainer div  {
    margin-bottom: 3rem;
    width: 15rem;
  }

  .rulesContainer,.ieeeContainer {
    color: darkcyan;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
  }
  
  .rulesContainer .rulesHeading ,.ieeeContainer .ieeeHeading{
    font-family: SDRobot;
    font-size: 4rem;
    width: 87%;
    margin-bottom: 3rem;
  }
  
  .rulesContainer .ruleswrapper,.ieeeContainer .ieeewrapper {
    font-family: Poppins;
    font-size: 1rem;
    width: 90%;
    color: rgb(44, 229, 229); 
  }
  
  .ieeeContainer .ieeewrapper ol div {
    color: beige;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .ieeeContainer .ieeewrapper ol li {
    color: rgb(18, 181, 181);
    font-style: italic;
  }
}

@media screen and (max-width: 450px) {
  .questionPageEasy,.questionPageMedium,.questionPageHard {
    color: whitesmoke;
    font-family: Poppins;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 4rem;
  }
  
  .questionPageHard {
    margin-bottom: 6rem;
  }
  
  .easySec1,.easySec2,.mediumSec1,.mediumSec2,.mediumSec3,.hardSec1,.hardSec2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .questionPageNav .questionPageNavWrapper{
    display: none; 
  }

  .signUpNavContainer .signUpNav div {
    margin-left: 1rem;
  }

  .signUpLoginContainer {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .signUpLoginContainer .signUpLoginWrapper {
    width: 90%;
  }

  .sponserContainer {
    margin-left: 5rem;
    margin-right: 8rem;
    flex-direction: column;
    height: 85rem;
  }

  .sponserContainer div  {
    margin-bottom: 3rem;
    width: 15rem;
  }

  .homeContainer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .homeHeading {
    font-family: SDRobot;
    font-size: 5rem;
    margin-top: 7rem;
  }
  
  .homeDate {
    font-family: Moonstrike;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }
  
  .homeEvent {
    font-family: Speedy;
    font-size: 1rem;
    color: rgb(85, 133, 133);
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }
  
  .homeFooter {
    color: white;
    position: absolute;
    left: 20%;
    bottom: 1rem;
    text-align: center;
  }

  .rulesContainer,.ieeeContainer {
    color: darkcyan;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
  }
  
  .rulesContainer .rulesHeading ,.ieeeContainer .ieeeHeading{
    font-family: SDRobot;
    font-size: 3rem;
    width: 87%;
    margin-bottom: 3rem;
  }
  
  .rulesContainer .ruleswrapper,.ieeeContainer .ieeewrapper {
    font-family: Poppins;
    font-size: 1.1rem;
    width: 90%;
    color: rgb(44, 229, 229); 
  }
  
  .ieeeContainer .ieeewrapper ol div {
    color: beige;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .ieeeContainer .ieeewrapper ol li {
    color: rgb(18, 181, 181);
    font-style: italic;
  }
}

@media screen and (max-width: 365px) {
  .sponserContainer{
    margin-left: 3.3rem;
  }
  
  .homeContainer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .homeHeading {
    font-family: SDRobot;
    font-size: 4.6rem;
    margin-top: 7rem;
  }
  
  .homeDate {
    font-family: Moonstrike;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
  }
  
  .homeEvent {
    font-family: Speedy;
    font-size: 0.8rem;
    color: rgb(85, 133, 133);
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }
  
  .homeFooter {
    color: white;
    position: absolute;
    left: 25%;
    bottom: 1rem;
    text-align: center;
    font-size: 0.7rem;
  }

  .rulesContainer,.ieeeContainer {
    color: darkcyan;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
  }
  
  .rulesContainer .rulesHeading ,.ieeeContainer .ieeeHeading{
    font-family: SDRobot;
    font-size: 3rem;
    width: 87%;
    margin-bottom: 3rem;
  }
  
  .rulesContainer .ruleswrapper,.ieeeContainer .ieeewrapper {
    font-family: Poppins;
    font-size: 1.1rem;
    width: 90%;
    color: rgb(44, 229, 229); 
  }
  
  .ieeeContainer .ieeewrapper ol div {
    color: beige;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .ieeeContainer .ieeewrapper ol li {
    color: rgb(18, 181, 181);
    font-style: italic;
  }
}

@media screen and (max-width: 300px) {
  .signUpLoginContainer div h1 {
    font-size: 1.5rem;
  }

  .signUpLoginContainer div input {
    font-size: 0.7rem;
  }

  .sponserContainer{
    margin-left: 1rem;
  }
}