.questionCardContainer {
    position: relative;
    height: 8rem;
    max-height: 16rem; /* Set max-height to accommodate the maximum possible height */
    overflow: hidden; /* Hide any content that overflows the container */
    border-radius: 6px 6px 10px 10px;
    box-shadow: 5px 5px 5px black;
    transition: height 0.5s ease, box-shadow 0.5s ease; /* Smooth transition for height and box-shadow */
    
    cursor: pointer;
}

.questionCardContainer:hover {
    box-shadow:  7px 7px 12px black;
    transform: scale(1.01) translateY(-10px);
}

.questionCardContainer.expanded {
    height: 16rem; /* Increase height to 16rem when expanded */
}

.questionCardContainer .questionCardWrapper {
    position: absolute;
    bottom: 0;
    height: 95%;
    width: 100%;
    font-size: 0.7rem;
    background-color: #1e2037;
    border-radius: 6px 6px 10px 10px;
}

.questionCardContainer .questionCardWrapper .questionCardContent {
    padding: 0.2rem 1rem 0.1rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.questionCardContainer .questionCardWrapper .questionCardPoints {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border: 1px solid #e4e2ff;
    width: max-content;
    margin-left: 1rem;
    border-radius: 10px;
}

@media screen and (max-width: 1100px) {
    .questionCardContainer .questionCardWrapper .questionCardContent {
        font-size: 0.6rem;
    }
}
