.questionCardContainer {
    position: relative;
    height: 8rem;
    max-height: 27rem; /* Set max-height to accommodate the maximum possible height */
    overflow: hidden; /* Hide any content that overflows the container */
    border-radius: 6px 6px 10px 10px;
    box-shadow: 5px 5px 5px black;
    transition: height 0.5s ease, box-shadow 0.5s ease; /* Smooth transition for height and box-shadow */
    overflow: hidden;
    cursor: pointer;
}

.questionCardContainer:hover {
    box-shadow:  7px 7px 12px black;
    transform: scale(1.01) translateY(-10px);
}

.questionCardContainer.expanded {
    height: 27rem; /* Increase height to 16rem when expanded */
}

.questionCardContainer .questionCardWrapper {
    position: absolute;
    bottom: 0;
    height: 95%;
    width: 100%;
    font-size: 0.7rem;
    background-color: #1e2037;
    border-radius: 6px 6px 10px 10px;
}

.questionCardContainer .questionCardWrapper .questionCardContent {
    padding: 1.2rem 1rem 0.1rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.questionCardContainer .questionCardWrapper .questionCardPoints {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border: 1px solid #e4e2ff;
    width: max-content;
    margin-left: 1rem;
    border-radius: 10px;
}

.questionCardContainer .questionCardWrapper .questionCardInfo {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #32334a;
    border-radius: 10px 10px 0px 0px;
}

.questionCardContainer .questionCardWrapper .questionCardInfo div {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.questionCardContainer .questionCardWrapper .questionCardInfo div input {
    font-family: Poppins;
    border-radius: 5px;
    background: rgb(249, 250, 250);
    border: 1px solid rgb(181, 189, 196);
    font-size: 16px;
    height: 1.5rem;
    outline: none;
    line-height: 24px;
    padding: 7px 8px;
    color: rgb(8, 9, 10);
    box-shadow: none;
}

.questionCardContainer .questionCardWrapper .questionCardInfo div input:focus{
    background-color: #fff;
    border-color: #3b49df;
    box-shadow: 3px 3px 0 #3b49df;
}

.questionCardContainer .questionCardWrapper .questionCardInfo div div {
    font-family: Poppins;
    border-radius: 7px 7px 7px 7px;
    border: 2px solid yellow;
    height: 86%;
    align-items: center;
    padding-left: 1rem; 
    padding-right: 1rem;
    text-align: center;
}

.questionCardContainer .questionCardWrapper .questionCardInfo ul {
    font-size: 1rem;
    font-style: italic;
}

.button-54 {
    font-family: Poppins;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    border-radius: 8px 8px 10px 8px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }


@media screen and (max-width: 1100px) {
    .questionCardContainer .questionCardWrapper .questionCardContent {
        font-size: 0.6rem;
    }
}
