.menberFormDet {
    border: 3px solid rgb(70, 66, 113);
    border-radius: 20px;
    font-family: Poppins;
    font-size: 1.3rem;
    font-weight: 900;
    color: rgb(70, 66, 113);
    padding: 0.3rem 0.9rem 0.3rem 0.9rem;
    margin-left: 15%;
    width: 68%;
    margin-bottom: 1rem;
    height: 100vh;
}

.memberHeading {
    font-size: 1.5rem;
    padding: 0;
    color: wheat;
}

.memberHeaderLine {
    margin-bottom: 5rem;
}

.input-field {
    position: relative;
    height: 40px;
    width: 100%;
}

.input-field input[type="text"] {
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
    color: #fff;
    width: 100%;
    outline: none;
}

.input-field label {
    position: absolute;
    top: 0;
    left: 0;
    color: #555;
    pointer-events: none;
    display: block;
    transition: 0.5s;
}

.menberFormDet {
    border: 3px solid rgb(70, 66, 113);
    border-radius: 20px;
    font-family: Poppins;
    font-size: 1.3rem;
    font-weight: 900;
    color: rgb(70, 66, 113);
    padding: 0.3rem 0.9rem 0.3rem 0.9rem;
    margin-left: 15%;
    width: 68%;
    margin-bottom: 1rem;
    height: 40rem;
}

.memberHeading {
    font-size: 1.5rem;
    padding: 0;
    color: wheat;
}

.memberHeaderLine {
    margin-bottom: 5rem;
}

.input-field {
    position: relative;
    height: 3rem;
    width: 100%;
    margin-left: 0.8rem;
}

.input-field input[type="text"] {
    position: absolute;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 1.7rem;
    color: #fff;
    width: 100%;
}

.input-field label {
    position: absolute;
    top: 0;
    left: 0;
    color: #555;
    pointer-events: none;
    display: block;
    transition: 0.5s;
}

.input-field input[type="text"]:focus + label
{
    transform: translateY(-35px);
    font-size: 1rem;
    color: #fff;
    padding: 2px 6px;
}

.input-field span {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background: #555;
    width: 100%;
    height: 2px;
}

.input-field.active label {
    transform: translateY(-35px);
    font-size: 1.2rem;
    color: #555;
    padding: 2px 6px;
}

.phoneEmailFields, .guardianFields, .nameFields,.semBranch,.gender {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    width: 98%;
}

.sem,.branch {
    position: relative;
    height: 3rem;
    width: 97%;
    margin-left: 0.8rem;
    margin-top: 1.8rem;
    font-family: Poppins;
}

.sem select,.branch select{
    position: absolute;
    background: transparent;
    color: #555;
    box-shadow: none;
    font-size: 1.7rem;
    width: 100%;
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-family: Poppins;
}

.sem select option,.branch select option{
    background-color: #130735;
}

.semBranch .sem label,.semBranch .branch label{
    position: absolute;
    top: -2.3rem;
    left: 0;
    color: #555;
    font-family: Poppins;
}
